#
htdocs/logo/*
scripts/cron.php
*.ini
htdocs/test.php
htdocs/test/*
htdocs/css/*.css*
htdocs/phpdocs
config/config.ini
logs/*.log*
nbproject/*
profiles/test/*
profiles/*
modules/*
htdocs/templates/*
htdocs/files/*
htdocs/youtube_import/*
