*.swp
htdocs/logo/*
*.ini
test/*
test.php
htdocs/test.php
htdocs/test/*
htdocs/cached_assets
htdocs/css/*.css*
htdocs/phpdocs
htdocs/examples
config/config.ini
config/shared.ini
config/multi/*
logs/*.log*
nbproject/*
profiles/*
modules/*
htdocs/templates/*
htdocs/files/*
htdocs/youtube_import/*
locale/*
cosmod/*
modules/*
