#sortable ol {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    min-height: 50px;
}
#sortable li {
    margin: 0 5px 5px;
    padding: 5px;
    width: 120px;
    left: -60px;
    display: block;
    background-color: #eee;
}

.manip_success {
    display: none;
}