.account_profile table {

    vertical-align: top;
    border: 1px solid #D2D9E7;
    margin-bottom: 10px;

}

.account_profile td {
    margin: 0px;
    /* background-color: #D2D9E7; */
    vertical-align: top;
    text-align: left;
        
}

.account_profile img {
    border: 0px;
    text-decoration: none;
}
