RewriteEngine On

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?query=$1 [L,QSA]


<Files *.inc>
deny from all
</Files>

<Files info.php>
deny from all
allow from 127.0.0.1
</Files>

<Files *.sql>
deny from all
</Files>

<Files *.ini>
deny from all
</Files>
